a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-size: 14px;
  color: #9698a6;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

a:not(:last-child) {
  margin-right: 30px;
}

a:hover {
  color: #2d314d;
}

.header {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: 160px auto 160px 160px;
      grid-template-columns: 160px auto 160px 160px;
  -ms-grid-rows: 80px;
      grid-template-rows: 80px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  z-index: 101;
}

.linksCont {
  padding-top: 30px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row: 1;
  justify-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.linksCont a::before {
  content: "";
  position: absolute;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(90deg, #31d35c 0%, #2bb7da 100%);
  width: 100%;
  height: 5px;
  bottom: 0;
  opacity: 0;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

.linksCont a:hover::before {
  opacity: 1;
}

#regBtn {
  margin: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 10px 0 0 0;
  width: 130px;
  height: 40px;
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 1;
  grid-row: 1;
  font-weight: 700;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(90deg, #31d35c 0%, #2bb7da 100%);
  border-radius: 20px;
  text-align: center;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

#regBtn:hover {
  opacity: 0.6;
}

#regBtn.loggedIN {
  display: none;
}

#logBtn {
  margin: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 10px 0 0 0;
  width: 130px;
  height: 40px;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
  grid-row: 1;
  font-weight: 700;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(90deg, #31d35c 0%, #2bb7da 100%);
  border-radius: 20px;
  text-align: center;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

#logBtn:hover {
  opacity: 0.6;
}

#logBtn.loggedIN {
  display: none;
}

#logOut {
  margin: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column: 4;
  grid-column: 4;
  width: 130px;
  height: 40px;
  font-weight: 700;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(90deg, #31d35c 0%, #2bb7da 100%);
  border-radius: 20px;
  text-align: center;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

#logOut:hover {
  opacity: 0.6;
}

#logOut.loggedOUT {
  display: none;
}

p.loggedOUT {
  display: none;
}
/*# sourceMappingURL=Home.css.map */