#heroSection {
    position: relative;
    width: 100%;
    height: 652px;
    padding: 180px 0 0 160px;
}

.heroWrap {
    width: 450px;
}

h1 {
    margin-bottom: 33px;
    font-size: 50px;
    color: #2d314d;
}

.bgPlanesLand {
    position: absolute;
    width: 743px;
    height: 700px;
    right: 0;
    top: 0;
    object-fit: none;
    object-position: 0 85%;
    z-index: -2;
}

.bgMockupsLand {
    position: absolute;
    height: 777px;
    top: 0;
    right: 0;
    object-fit: none;
    object-position: 0 100%;
    z-index: -2;
}

.textBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 800px;
    height: 652px;
    background: linear-gradient(90deg, #f3f4f6 0%, #f3f4f6 70%, #f3f4f600 100%);
    z-index: -1;
}

@media screen and (max-width: 900px) {
    #heroSection {
        height: 550px;
        padding: 400px 40px 0 40px;

        h1 {
            font-size: 25px;
        }
    }

    .heroWrap {
        width: 100%;
    }

    .textBg {
        top: 300px;
        width: 100%;
        height: 300px;
        background: linear-gradient(360deg,#f3f4f6 0%, #f3f4f6 70%, #f3f4f600 100%);
    }

    .bgPlanesLand {
        display: none;        
    }

    .bgMockupsLand {
        width: 100%;
        height: 600px;
        object-fit: cover;
        object-position: 0 100%;
    }
}

@media screen and (max-width: 480px) {
    #heroSection {
        height: 480px;
        padding: 300px 40px 0 40px;

        h1 {
            text-align: center;
        }

        p {
            text-align: center;
        }
    }

    .textBg {
        top: 200px;
    }

    .bgMockupsLand {
        height: 285px;
    }
}