#introSect {
    width: 100%;
    height: 680px;
    position: relative;
    padding: 110px 0 0 160px;
    background: #f3f4f6;
    z-index: -4;
}

#introWrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 75px;
    width: 640px;

    h1 {
        font-size: 2.3125rem;
    }

    p {
        font-size: 1.125rem;
    }
}

.introList {
    display: grid;
    grid-template-columns: repeat(4, 255px);
    grid-template-rows: 265px;
    gap: 30px;
}

.listItem {
    img {
        width: 70px;
        margin: 0 0 40px 0;
    }

    h2 {
        margin: 0 0 30px 0;
    }
}

@media screen and (max-width: 900px) {
    #introSect {
        height: 950px;
        display: flex;
        flex-direction: column;
        padding: 110px 40px 0 40px;

        h1 {
            font-size: 25px;
        }

        p {
            font-size: 16px;
        }
    }

    #introWrap {
        width: 100%;
    }

    .introList {
        align-self: center;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
    }
}

@media screen and (max-width: 560px) {
    #introSect {
        height: 1600px;

        h1 {
            text-align: center;
        }

        h2 {
            text-align: center;
        }

        p {
            text-align: center;
        }
    }
    .introList {
        grid-template-columns: 100%;
        grid-template-rows: unset;
    }

    .listItem {
        display: flex;
        flex-direction: column;
        img {
            align-self: center;
        }
    }
}